$color-master1: #ED1E79;
$color-A1: #29ABE2;
$color-A2: #CBF7FF;
$color-M1V1: #FFCFE4;
$color-M1V2: #F67B7B;
$color-master2: #00FFFF;
$color-b75: rgba(0,0,0,0.75);
$color-b100: rgba(0,0,0,1);
$font-h1 : 6.41rem;
$font-h2: 5.13rem;
$font-h3: 4.1rem;
$font-h4: 3.28rem;
$font-h5: 2.63rem;
$font-h6: 2.1rem;
$font-h7: 1.68rem;
$font-h8: 1.34rem;
$font-h9: 1.08rem;


