@import "./variables";
@import "./utilities";

.card__container {
  margin-top: 6.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3rem;
  overflow: hidden;
  max-width: 57.6rem;
  position: relative;
  border: 0.4rem solid $color-master1;
  transition: all 0.2s ease-out;
  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07))
    drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198))
    drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275))
    drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035))
    drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725))
    drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0%;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      to left bottom,
      rgba($color-master1, 0.5),
      rgba($color-master1, 0.2)
    );
  }
  &:hover {
    transform: scale(1.05);
  }
}

.card__text {
  position: absolute;
  bottom: 0rem;
  font-size: $font-h3;
  color: white;
  z-index: 2;
  padding-top: 4rem;
  padding-bottom: 4rem;
  width: 100%;
  text-align: center;
  background-color: rgba($color-master1, 0.8);
}
.card__img{
  width: 100%;
  height: auto;
}
